.loader {
  border: 2px 2px 10px solid red;
  border-top: 16px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 3s linear infinite;
  position: absolute;
  top: 46%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family:monaco;
 text-align:center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* <script id="cid0020000357139786127" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 250px;height: 350px;">{"handle":"tiyinfinity","arch":"js","styles":{"a":"3333ff","b":49,"c":"000000","d":"000000","f":49,"i":49,"k":"3333ff","l":"3333ff","m":"3333ff","o":49,"p":"10","q":"3333ff","r":49,"fwtickm":1}}</script>*/

/* <iframe position="relative"top="0px"width="440px" height="700px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="http://bit.ly/tiychat">
</iframe>
 */